@media (max-width: 1400px) {
  .salah-h {
    font-size: 30px;
  }
  .salah-text {
    font-size: 18px;
  }
  .sal-di {
    padding-right: 16px;
  }
  .opinion-h {
    font-size: 2rem;
  }
  .opinion-p {
    font-size: 1rem;
  }
  .arti-h {
    font-size: 1.5rem;
  }
  .arti-p {
    font-size: 14px;
  }
  .senior-p {
    font-size: 14px;
  }
}

@media (max-width: 1100px) {
  .salah-h {
    font-size: 26px;
  }
  .salah-text {
    font-size: 14px;
  }
  .sal-pas {
    padding-right: 0;
  }
  .opinion-h {
    font-size: 1.8rem;
  }
  .opinion-p {
    font-size: 0.8rem;
  }
}

@media (max-width: 992px) {
  .salah-h {
    font-size: 34px;
  }
  .salah-text {
    font-size: 14px;
  }
  .sal-di {
    padding-right: 0;
  }
  .sal-pas {
    padding-right: 13px;
  }
  .trend-p {
    font-size: 14px;
  }
  .number-text {
    font-size: 16px;
  }
  .editor-di {
    padding-right: 0;
  }
  .opinion-h {
    font-size: 1.5rem;
  }
  .opinion-p {
    font-size: 0.6rem;
  }
  .arti-h {
    font-size: 1.4rem;
  }
  .arti-p {
    font-size: 12px;
  }
  .senior-p {
    font-size: 12px;
  }
  .how-p{
    font-size: 1rem;
  }


}

@media (max-width: 785px) {
  .opinion-h,.opinion-h,.editor-h,.salah-h,.salah-h2 {
  font-size: 2rem;
  }
  .how-p{
    font-size: .8rem;
  }
  .opinion-p{
    font-size: 1rem;
  }
  .trend-p{
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .salah-h {
    font-size: 24px;
  }
  .passport-t {
    font-size: 12px;
  }
  .opinion-p {
    font-size: .8rem;
  }
  .trend-p{
    font-size: 9px;
  }

}